@use "setup";

$mainColor: #f0f5ff;
$secondaryColor: #fcdde2;
$buttonColor1: #f5c8cf;
$buttonColor2: #042259;
$fontcolor1: #1d81cc;
$fontColor2: #1f2022;

// General Styles

html {
    font-size: 125%;
    color: $fontColor2;
    font-family: 'Emblema One', cursive;
    background-color: $mainColor;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}

h1, h2 {
    color: $fontcolor1;
    text-transform: uppercase;
}

h2 {
    font-size: 2.1rem;
}

p {
    font-family: 'Barlow', sans-serif;
}

// Header Styles

header {
    background-image: url(../../assets/header-alt.png);
    height: 100vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    // fix positioning of background
}


.mainNav ul {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 35rem;

        li {
            font-family: 'Catamaran', sans-serif;
        }
}




// About Styles
.about {
    background-color: $secondaryColor;
    height: 100%;
}

.aboutFlex {
    display: flex;
    flex-direction: column;
        .newAppliances {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 70px;
        }
            .gallery {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
            }

                .gallery li {
                    width: calc((100% / 3) - 20px);
                    // this margin needs to be BIGGER
                }
}

.gallery li:nth-child(2) {
    margin: 0 10px;
}

.gallery img {
    width: 100%;
}

.newAppliances h2 {
    margin-bottom: 70px;
}

.coffeeAppliances {
    display: flex;
    flex-wrap: wrap;
        .imgContainer {
            width: 24%;
            margin-right: 30px;
        }
        .textContainer {
            max-width: 45.4rem;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    
    
.textContainer h2 {
    display: flex;
    margin-bottom: 15px;
        .textContainer p {
            margin-bottom: 20px;
        }
}    

.textContainer button {
width: 18%;
background-color: $buttonColor2;
color: $mainColor;
font-family: 'Emblema One', cursive;
text-transform: uppercase;
border: none;
padding: 10px 15px;
text-align: center;
margin-top: 1rem;
margin-bottom: 0;   
}










