html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  color: #1f2022;
  font-family: "Emblema One", cursive;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 100px 0;
}

li a:hover,
li a:focus,
button:hover,
button:focus,
.navToggle:hover,
.navToggle:focus {
  font-style: oblique;
  text-decoration: underline;
}

h1 {
  font-size: 5.23rem;
}

h1,
h2 {
  color: #1d81cc;
  text-transform: uppercase;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-family: "Catamaran", sans-serif;
  color: #042259;
}

h4 {
  font-family: "Emblema One", cursive;
  color: #1d81cc;
  font-size: 1.56;
  text-transform: uppercase;
}

h5 {
  font-family: "Emblema One", cursive;
  color: #1d81cc;
  font-size: 0.9;
  text-transform: uppercase;
}

p {
  font-family: "Barlow", sans-serif;
  line-height: 29px;
}

button {
  width: 165px;
  background-color: #042259;
  color: #f0f5ff;
  font-family: "Emblema One", cursive;
  text-transform: uppercase;
  border: none;
  padding: 15px 15px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

header {
  background: url(../assets/header-group-appliances.png), linear-gradient(110deg, #fcdde2 60%, #f0f5ff);
  height: 100vh;
  width: 100%;
  background-size: auto;
  background-position: right bottom;
  background-repeat: no-repeat;
  position: relative;
}
header .headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .headerFlex h1 {
  max-width: 409px;
  margin-top: 150px;
  margin-bottom: 5px;
}

.mainNav {
  width: auto;
  padding: 50px 0 0 0;
}

.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
}
.mainNav ul li {
  font-family: "Catamaran", sans-serif;
  color: #042259;
  margin-left: 20px;
}

.socialNav {
  width: 1.5%;
  height: auto;
  position: absolute;
  bottom: 600px;
  right: 40px;
}
.socialNav i {
  color: #1d81cc;
  margin-bottom: 10px;
}

.navToggleLabel {
  display: none;
}

.navToggle {
  display: none;
}

.about {
  height: 100%;
  background-color: #fcdde2;
}
.about .aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about .aboutFlex .newAppliances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.gallery .gallery li {
  width: calc(33.3333333333% - 20px);
}
.gallery .gallery li .gallery li:nth-child(2) {
  margin: 0 10px;
}
.gallery .gallery li .gallery li:nth-child(2) .gallery img {
  width: 100%;
}

.newAppliances h2 {
  margin-bottom: 70px;
}

.coffeeAppliances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.coffeeAppliances .imgContainer {
  width: 24%;
  margin-right: 30px;
}

.coffeeAppliances .textContainer {
  max-width: 45.4rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.coffeeAppliances .textContainer h2 {
  margin-bottom: 15px;
}
.coffeeAppliances .textContainer h2 p {
  margin-bottom: 20px;
}

.blogWrapper1 {
  max-width: 1240px;
  margin-left: 210px;
  padding: 150px 90px 30px 0;
}

.blogWrapper2 {
  max-width: 1240px;
  margin-right: 210px;
  padding: 150px 0 30px 90px;
}

.blog {
  background: #f0f5ff;
  padding: 0;
}

.blogPost .imgContainer {
  width: 50%;
}
.blogPost .imgContainer img {
  width: 100%;
}

.blogPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blogPost .textContainer {
  width: 50%;
}

.blogPost1 .textContainer,
.blogPost2 .textContainer {
  width: 50%;
}

.blog button {
  color: #042259;
  background-color: #f5c8cf;
}

.contact {
  padding: 0;
  background: #f0f5ff;
}

.contactIcons {
  background: #fcdde2;
  padding: 150px 0;
}

.contactIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}
.contactIcons ul i {
  font-size: 2rem;
  color: #042259;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.contact button {
  width: 165px;
  background-color: #f5c8cf;
  color: #042259;
  margin: 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 20px;
}
form input {
  height: 50px;
  padding: 0 15px;
  border: 1px solid #f5c8cf;
  width: 80%;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.subscribe {
  width: 100%;
  margin-right: 100px;
}

.contactNav li {
  font-family: "Emblema One", cursive;
  color: #1d81cc;
  font-size: 0.9;
  text-transform: uppercase;
  text-align: end;
  padding-bottom: 25px;
  max-height: 30px;
}

footer {
  background: #042259;
  color: #f0f5ff;
  text-align: center;
}

@media (max-width: 1453px) {
  .blogWrapper1, .blogWrapper2 {
    padding-top: 100px;
  }
}
@media (max-width: 1361px) {
  .blogWrapper1,
.blogWrapper2 {
    padding-top: 50px;
  }
}
@media (max-width: 1388px) {
  .coffeeAppliances .imgContainer {
    width: 30%;
  }
  .coffeeAppliances .textContainer {
    width: 65%;
  }
}
@media (max-width: 1350px) {
  .gallery li:nth-child(2) {
    margin: 0 10px;
  }
  .gallery li {
    width: calc(33.3333333333% - 20px);
  }
}
@media (max-width: 1300px) {
  .blog {
    background: #fcdde2;
  }
  .blogWrapper1,
.blogWrapper2 {
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
    padding: 70px 0 70px 0;
    text-align: center;
  }
  .blogWrapper1 p,
.blogWrapper2 p {
    text-align: left;
  }
  .blogPost {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPost .textContainer {
    width: 100%;
  }
  .blogPost .textContainer button {
    background-color: #042259;
    color: #f0f5ff;
  }
  .blogPost .imgContainer {
    width: 100%;
  }
  .blogPost1 .imgContainer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .contactIcons {
    background: #f5c8cf;
  }
}
@media (max-width: 1000px) {
  header {
    background-size: 90%, 100%;
    background-position-x: 220%;
  }
  .gallery li:nth-child(3) {
    display: none;
  }
  .gallery li:nth-child(2) {
    margin: 0 0 0 5px;
  }
  .gallery li:nth-child(1) {
    margin: 0 5px 0 0;
  }
  .gallery li {
    width: calc(50% - 10px);
  }
  .gallery li img {
    width: 100%;
  }
  .coffeeAppliances {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .coffeeAppliances .imgContainer {
    width: 100%;
    height: 100%;
    max-height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .coffeeAppliances .imgContainer img {
    width: 75%;
  }
  .coffeeAppliances .textContainer {
    margin-top: 70px;
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
  }
  .coffeeAppliances .textContainer h2 {
    max-width: 450px;
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
  }
  .coffeeAppliances .textContainer button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 900px) {
  .contactFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flexContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .subscribe {
    margin: 0 auto 20px auto;
    text-align: center;
  }
  .subscribe form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe form input {
    padding: 0;
    width: 100%;
  }
  .info, .contactNav {
    width: 50%;
    padding: 0;
    margin: 0;
    height: 100%;
  }
}
@media (max-width: 720px) {
  .hamburgerIcon {
    width: 60px;
    height: 5px;
    background-color: #042259;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  .navToggleLabel {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
  }
  .mainNav, .socialNav {
    display: none;
  }
  .socialNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .socialNav i {
    padding: 15px;
    font-size: 2rem;
    margin-top: 40px;
  }
  .mainNav ul li {
    text-align: center;
    padding: 10px;
    margin-left: 0;
    font-size: 1.5rem;
    margin-top: 80px;
    width: 90%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .navBars {
    width: 100%;
    height: auto;
    background: #fcdde2;
    position: absolute;
    left: 0;
  }
  .navToggle:checked ~ nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
  .navToggle:checked ~ .mainNav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h1 {
    font-size: 15vw;
  }
  .contactIcons {
    background: #f5c8cf;
    padding: 15px 0 15px 0;
  }
  .contactIcons .contact ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactIcons ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactIcons ul li {
    margin: 30px 0;
  }
}
@media (max-width: 500px) {
  .coffeeAppliances h2 {
    width: auto;
  }
  h2 {
    font-size: 1.8rem;
  }
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact button {
    margin-top: 10px;
  }
}